<% provide(:title, "Contact") %>
<div class="center jumbotron">
  <h1>Contact</h1>
    <p>
     Club de Boxe les Titans</br>
  
    6777 rue Saint-André , Montréal, Canada</br>
  
    Téléphone : 514 872-3909</br>
  
    Courriel : <a href="mailto:info@clubdeboxelestitans.com?Subject=Message%20via%20formulaire%web" target="_top">info@clubdeboxelestitans.com</a>
    
    </p>
</div>