<div class="center jumbotron">
  <h1>Club de boxe les Titans</h1>

  <h2>
    Ceci est la page d'accueil pour l'application du
    <a href="http://www.clubdeboxelestitans.com/" target="_blank">Club de boxe les Titans</a>
    créée par Jérôme Labonté
  </h2>

  <%= link_to "Inscrivez-vous maintenant!", inscription_path, class: "btn btn-lg btn-primary" %>
</div>