<% provide(:title, "Tarifs") %>
<div class="center jumbotron">
  <div class="center">
  
    <h1>*Nos Forfaits - 18 ans et plus </h2>
    
    <p>
     3 mois pour 120$ illimité</br>
     3 mois pour 70$ 1 fois/semaine</br>                     
     6 mois pour 220$ illimité</br>
     6 mois pour 120$ 1 fois/semaine</br>
     12 mois pour 400$ illimité</br>	  
     12 mois pour 200$ 1 fois/semaine</br>
     </p> 
   
    <h1>*Nos Forfaits - 17 ans et moins </h2>
   
    <p>
     3 mois pour 85$ illimité</br>
     3 mois pour 60$ 1 fois/semaine</br>                     
     6 mois pour 150$ illimité</br>
     6 mois pour 100$ 1 fois/semaine</br>
     12 mois pour 250$ illimité</br>	  
     12 mois pour 170$ 1 fois/semaine</br>
     </p> 
   	 
   	 <h2>Forfait parent-enfant à venir</h2>
     <h2>*Frais d'inscription de 20$ par pers.</h2>
     
   </div>
</div>