<% provide(:title, "Programmation") %>
<h1>Programmation</h1>
<p>
  Vous trouverez ici la programmation du club. D'ici là vous pouvez la voir 
  <a href="http://clubdeboxelestitans.com/programmation/">ici</a>
</p>
