<% provide(:title, "Programmation") %>
<div class="center jumbotron">
  <h1>Programmation</h1>
  <div class="schedule">
    <img src="http://clubdeboxelestitans.com/data/documents/Programmation-Titans-2016-avril-16-page-001.jpg" alt="Programmation"/>
  </div>
</div>