<% provide(:title, "Programmation") %>
<h1>Club de boxe les Titans</h1>
<p>
  Vous trouverez ici l'horaire et les tarifs des cours. D'ici là vous pouvez les voir 
  <a href="http://clubdeboxelestitans.com/programmation/">ici</a>
</p>
