<li>
  <%= link_to user.full_name, user %>
  <% if current_user.admin? && !user.admin? %>
    | <%= link_to "supprimer", user, method: :delete,
                                  data: { confirm: "Êtes vous certain de vouloir supprimer ce compte ?" } %>
  <% end %>
</li>