<footer class="footer">
  <small>
    <a href="http://www.clubdeboxelestitans.com/">Club de boxe les Titans</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.centreperemarquette.ca/">Centre père marquette</a></li>
    </ul>
  </nav>
</footer>