<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Club de boxe les Titans", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Accueil",   root_path %></li>
        <li><%= link_to "Programmation",   programmation_path %></li>
        <li><%= link_to "Se connecter", '#' %></li>
      </ul>
    </nav>
  </div>
</header>