<li>
  <%= link_to member.full_name, member %>
  <% if current_user.admin?%>
    | <%= link_to "supprimer", member, method: :delete,
                                  data: { confirm: "Êtes vous certain de vouloir supprimer ce membre ?" } %>
  <% end %>
</li>